body.dark-mode {
  background-color: rgb(44, 44, 44) !important;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}
/* componenteheader */
body.dark-mode .header {
  background-color: rgb(26, 26, 26) !important;
}
body.dark-mode .header h1 {
  color: white !important;
}
body.dark-mode .btn {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  transition: all 0.3s ease !important;
}
body.dark-mode .btn:hover {
  background-color: #f14235b0 !important;
  color: white !important;
}
body.dark-mode strong{
  color: #ca004e !important;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
}
/* componente2 */
body.dark-mode .container {
  background-color: #0000004b;
}
body.dark-mode .container button:first-child {
  background-color: #f14235b0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.637);
}
body.dark-mode .container button:nth-child(2) {
  background-color: #221c69cb;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.637);
}
/* componente1 */
body.dark-mode form {
  background-color: #0000004b;
  color: black !important;
}
body.dark-mode .alert-error {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.61) !important;
}
body.dark-mode .is-invalid {
   box-shadow: 0px 0px 5px #ff1500 !important;
}
body.dark-mode .is-valid { 
   box-shadow: 0px 0px 5px #10b842 !important;
}
body.dark-mode .btnButton1 { 
   background-color:  #1aec8a !important;
}
body.dark-mode .btnButton1:hover { 
   background-color:  #08be69 !important;
}
body.dark-mode .btnButton1:disabled {
  background-color: #5cf86157 !important;
  cursor: not-allowed !important; 
  pointer-events:visible; 
}
body.dark-mode .btnButton1:hover:disabled {
  background-color: #5cf86157 !important;
  color: black !important;
}
body.dark-mode .inputMedia{
    background-color: #3d3d3dd3 !important;
    color: white !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.637) !important;
    border: 1px solid #00000000 !important;
}
body.dark-mode .btn-primary {
    background-color: #219727  !important;
       color: white !important;
}
body.dark-mode .btn-primary:hover {
    background-color: #4caf50 !important;
}
body.dark-mode .cancelarbtn{
  background-color: #ff9900  !important; 
     color: white !important;
}
body.dark-mode .cancelarbtn:hover{
  background-color: #ff9900b9 !important; 
}
body.dark-mode .removerbtn{
  background-color: #f44336  !important;  
   color: white !important;
}
body.dark-mode .removerbtn:hover{
  background-color: #f44336d2 !important; 
}
/* componente 3 */
body.dark-mode thead{
  background-color: #4caf50 !important;
}
body.dark-mode table{
  background-color: #3d3d3dd3 !important;
}
body.dark-mode th, td {
    border-bottom: 1px solid rgba(3, 3, 3, 0.473) !important;
}
body.dark-mode td {
    color: rgba(255, 255, 255, 0.589) !important;
}
body.dark-mode tbody tr:hover {
    background-color: #272727d3 !important;
    transition: all 0.3s ease !important;
}
/*POPUP LOGIN REGISTRAR*/
body.dark-mode .modal-content {
color: black !important;

}
body.dark-mode .login-register {
background-color: #00000000 !important;

}
body.dark-mode .login-register button {
background-color: #007bff !important;
border: none;
}
body.dark-mode .login-register button:hover {
background-color: #3696fc !important;
}
/*POPUP SAIR*/
body.dark-mode .popup-content button {
  background-color: #007bff !important; /* Cor de fundo azul */
  color: white !important;
}
